@keyframes slidein {
  0% { opacity: 1; }
  100% {
    opacity: 0;
    display: none;
  }
}

.hide-animation{
  animation: slidein 2s ease 1 normal;
}

.pre-delete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

